.wrapper-profile{
    width: 80vw;
    background-color:#fff;
    min-height: 70vh;
    margin: 0 auto;
    position: relative;
}
.cover{
    /*border:1px solid black;*/
    display: block;
    width: 80%;
    margin: 0 auto;
    z-index: 2;
}
.userFoto{
    border: 5px double #fff;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    left: 0;
    right: 0;
    margin:-100px  auto;
    position: absolute;
    /*z-index: 1;*/
    /*background-color: #fff;*/
}
.userInfo{
    /*border: 1px solid black;*/
    width: 60%;
    margin: 120px auto;
    padding: 2vw;
    /*height: 20px;*/
}
.userInfo li{
   /*border: 1px solid blue;*/
    margin: 10px auto;
    padding: 10px;
    background-color: rgb(161, 164, 170);
    border-radius: 2px;
    border: 1px dashed darkgray;
    font-size:18px;

}
.userInfo li span{
    display: inline-block;
    min-width: 20vw;
    font-size:18px;
}
@media (max-width: 480px ){
    .cover{
        display: none;
    }
    .userFoto{
        position: inherit;
        display: block;
        border: 5px double #80e6ff;
        margin:0  auto;
    }
    .userInfo{
        width:95%;
        margin:10px auto;
    }
}
