/*!*----navbar----*!*/
/*.navbar{*/
    /*!*width: 100%;*!*/
    /*!*border:1px solid black;*!*/
    /*background-color: #FFF;*/
    /*padding: 20px;*/
    /*!*position: fixed;*!*/
    /*font-family: "Roboto", Helvetica, sans-serif;*/
    /*font-size:18px;*/
    /*font-weight:600;*/
/*}*/
/*.navbar-header{*/
    /*display: inline-block;*/
    /*margin-right:30%;*/
/*}*/
/*.navbar-brand a{*/
    /*color: rgb(161, 164, 170);*/
    /*text-decoration-style:solid;*/
/*}*/
/*!*----navbar lists----*!*/
/*.navbar-lists{*/
    /*display: inline-block;*/
/*}*/
/*.navbar-lists li{*/
    /*display: inline-block;*/
    /*margin-right:40px;*/
/*}*/
/*.navbar-lists li a:active{*/
    /*color:#fc636b;*/
/*}*/
/*.navbar-lists li a:hover{*/
    /*color:lightskyblue;*/
/*}*/
/*.navbar-lists li a{*/
    /*color: rgb(161, 164, 170);*/
    /*transition: .4s;*/
/*}*/
/*.navbar-lists .menu-icon{*/
    /*display: none;*/
/*}*/
/*!*----media navbar----*!*/
/*@media screen and (max-width: 768px){*/
    /*.navbar-lists .hidden-medium{*/
        /*display: none;*/
        /*visibility: collapse;*/
    /*}*/
    /*.navbar-header{*/
        /*margin-right: 30px;*/
    /*}*/
    /*.navbar-lists .menu-icon{*/
        /*display: inline-block;*/
    /*}*/

/*}*/
.body-background{
    width:100%;
    min-height:90vh;
    overflow: hidden;
    background: #ff6d92 radial-gradient(circle at center,#f5b200 0,#fc636b 30%,#ff6d92 70%);
    background-size: 300vw 300vh;
    background-position: -100vw -120vh;
}
.body-background h1{
    /*margin-top: 20vh;*/
    /*font-size: 65px;*/
    font-weight: 100;
    font-family: 'Droid Sans', serif;
    color: #fff;
}
.navbar-inverse {
    background-color: #fbf5f5;
    background-image: none;
    background-repeat: no-repeat;
    border:none;
    padding:0;
}
.navbar-inverse .navbar-nav > li > a {
    font-family: "Helvetica Neue",     Helvetica, sans-serif;
    color: rgb(161, 164, 170);
    font-size: 16px;
    text-decoration-style:solid;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #80e6ff;
 }
.navbar{
    margin-bottom: 0;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: rgb(161, 164, 170);
}
.navbar-inverse .navbar-toggle {
    border-color: rgb(161, 164, 170);
}