.top-content{
    height: 100vh;
    background: #ff6d92 radial-gradient(circle at center,#f5b200 0,#fc636b 30%,#ff6d92 70%);
    background-size: 300vw 300vh;
    background-position: -100vw -120vh;
}